/*This is the affiliated CSS sheet for jnl_final_outline_bootstrap.html.*/

button {
	margin-left: 1320px;
}
.accordion {
	margin-left: 20px;
	text-align: center;
}
.accordion-button {
	font-weight: bold;
	margin-left:  20px;
}
.fixed-bottom {
	margin-left: 10px;
	margin-top: 30px;
	padding: 5px;
	text-align: center;
}
.container-fluid {
	color: black;
	/*this is the color of all the text*/
}
.container {
	color:  white;
	/*this is the color of the header and nutgraf*/
}
.jumbotron {}

.grid-container{
	display:  grid;
	grid-template-columns:  1fr 1fr;
	grid-gap: 20px;
}

.float-child{
	margin-right: 20px;